<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
<dependency>
    <groupId>javax.servlet</groupId>
    <artifactId>jstl</artifactId>
    <version>1.2</version> 
    <scope>provided</scope>
</dependency>
  <display-name>livraria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Livro</display-name>
    <servlet-name>Livro</servlet-name>
    <servlet-class>livraria.negocio.Livro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Livro</servlet-name>
    <url-pattern>/Livro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemCompra</display-name>
    <servlet-name>ItemCompra</servlet-name>
    <servlet-class>livraria.negocio.ItemCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemCompra</servlet-name>
    <url-pattern>/ItemCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoCompras</display-name>
    <servlet-name>CarrinhoCompras</servlet-name>
    <servlet-class>livraria.negocio.CarrinhoCompras</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoCompras</servlet-name>
    <url-pattern>/CarrinhoCompras</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Livraria</display-name>
    <servlet-name>Livraria</servlet-name>
    <servlet-class>livraria.negocio.Livraria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Livraria</servlet-name>
    <url-pattern>/Livraria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraException</display-name>
    <servlet-name>CompraException</servlet-name>
    <servlet-class>livraria.negocio.excecoes.CompraException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraException</servlet-name>
    <url-pattern>/CompraException</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LivroNaoEncontradoException</display-name>
    <servlet-name>LivroNaoEncontradoException</servlet-name>
    <servlet-class>livraria.negocio.excecoes.LivroNaoEncontradoException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivroNaoEncontradoException</servlet-name>
    <url-pattern>/LivroNaoEncontradoException</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LivrariaContextListener</display-name>
    <servlet-name>LivrariaContextListener</servlet-name>
    <servlet-class>livraria.servlet.LivrariaContextListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivrariaContextListener</servlet-name>
    <url-pattern>/LivrariaContextListener</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletControladorLivraria</display-name>
    <servlet-name>ServletControladorLivraria</servlet-name>
    <servlet-class>livraria.servlet.ServletControladorLivraria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControladorLivraria</servlet-name>
    <url-pattern>/ServletControladorLivraria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LivrariaBean</display-name>
    <servlet-name>LivrariaBean</servlet-name>
    <servlet-class>livraria.negocio.LivrariaBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivrariaBean</servlet-name>
    <url-pattern>/LivrariaBean</url-pattern>
  </servlet-mapping>
</web-app>